.header-wrapper {
  width: 100%;
  height: 804px;
  overflow: hidden;

  &-background{
    min-width: 130%;
    min-height:804px;
    position: relative;
    top: -100px;
    right: 30%;
    z-index: -1;

    @include respond-to(mobile){
      left: -139%;
      img {
        height:804px;
        width: auto;

      }

    }
  }
}