@mixin wrapper-background($value){
  width: 100%;
  padding: 1rem 0 0;
  background: $value;
}

@mixin block-to-center(){
  max-width: 1130px;
  margin: auto;
}

@mixin radio-active(){
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background: var(--light-blue);

  &::after{
    content: ' ';
    display: inline-block;
    box-sizing: border-box;
    width: 60%;
    height: 60%;
    border: 4px solid white;
    border-radius: 100px;
  }
}



$small: 780px;
$large: 1028px;

@mixin respond-to($media) {
  @if $media == mobile {
    @media only screen and (min-width: 100px)  and (max-width: $small) { @content; }
  }
  @else if $media == desktop {
    @media only screen and (min-width: $small + 1) { @content; }
  }
}