html{
  --grey-background: #343334;
  --light-blue: #7cc4d2;
  --link-blue: #94ccd6;
  --link-yellow: #cedb56;
  --light-grey: #f7f7f7;
  --grey: #6c6c6c;
  --red-peach: #d35d47;
  --black: #3c3b3c;
}